{{- $isReInit := hasKey . "profile" -}}
{{ $isReInit := true }}

{{- $profile := promptString "profile" -}}
{{- if eq $profile "profile" -}}
    {{- if (hasKey . "profile") -}}
        {{- $profile = .profile -}}
    {{- end -}}
{{- end -}}
{{- $_ := (set . "profile" $profile) -}}

[git]
    autoCommit = true
    autoPush = true

[data]
    profile = {{ $profile | quote }}
    # shared data
    name = "Eduard Tsakhlo"
    # {{$profile}} profile data
    {{ template "profile-data" . }}

{{ if $isReInit -}}
    {{- template "profile-template" . -}}
{{- end }}

# Maybe use two inits: first for initing vars and second for generating other configs based on this vars
