{{- $profile := promptString "profile" -}}
{{- if not $profile -}}
    {{- if (hasKey . "profile") -}}
        {{-   $profile = .profile -}}
    {{- end -}}
{{- end -}}

# --- SHARED DATA ---
[git]
    autoCommit = true
    autoPush = true

[data]
    {{ template "data" (list . "name" "Eduard Tsakhlo") }}

# --- "{{ $profile }}" PROFILE SPECIFIC DATA ---
[data]
    {{ template "data" (list . "profile" $profile) }}

{{ template "profile" . -}}

# Maybe use two inits: first for initing vars and second for generating other configs based on this vars
