{{- $is_for_work := promptBool "Is computer for work" false -}}
{{- if (hasKey . "is_for_work") -}}
    {{- $is_for_work = .is_for_work -}}
{{- end -}}

[data.flags]
    is_for_work = {{ $is_for_work }}
    is_personal = {{ not $is_for_work }}

{{ $name := "Eduard Tsakhlo" -}}

{{- $trash_nickname := "Edrick Edorty" -}}
{{- $trash_email:= "edik24032002@gmail.com" -}}

{{- $personal_nickname := "Edvein Rin" -}}
{{- $personal_username := "edvein-rin" -}}
{{- $personal_email := "edveinrin@gmail.com" -}}

{{- $business_nickname := "e.tsakhlo" -}}
{{- $business_username := "e.tsakhlo" -}}
{{- $business_email := "e.tsakhlo@smartweb.com.ua" -}}

{{- $nickname := $is_for_work | ternary $business_nickname $personal_nickname -}}
{{- $username := $is_for_work | ternary $business_username $personal_username -}}
{{- $email := $is_for_work | ternary $business_email $personal_email -}}

[data]
    name = {{ $name | quote }}

    trash_nickname = {{ $trash_nickname | quote }}
    trash_email = {{ $trash_email | quote }}

    personal_nickname = {{ $personal_nickname | quote }}
    personal_username = {{ $personal_username | quote }}
    personal_email = {{ $personal_email | quote }}

    business_nickname = {{ $business_nickname | quote }}
    business_username = {{ $business_username | quote }}
    business_email = {{ $business_email | quote }}

    nickname = {{ $nickname | quote }}
    username = {{ $username | quote }}
    email = {{ $email | quote }}

[data.packages]
    arch = """
        base-devel
        chezmoi
        bitwarden-cli
        kitty
        zsh
        yay
        exa
        neofetch
        tig
        github-cli
        ncdu
        ttf-jetbrains-mono
        vim
        neovim
        npm
        docker
        docker-compose
        telegram-desktop
        discord-canary
        qbittorrent
        flameshot
        thefuck
        zoxide
        {{ if .flags.is_for_work -}}
        opera
        pgadmin4
        {{- end }}
        {{ if .flags.is_personal -}}
        vlc
        krita
        jupyter-notebook
        libreoffice-still
        {{- end }}
    """
    aur = """
        antigen-git
        megasync
        rofi-power-menu
        skypeforlinux-stable-bin
        slack-desktop
        spotify
        spotify-adblock 
        libpdfium-nojs
        {{ if .flags.is_for_work -}}
        google-chrome
        {{- end }}
        {{ if .flags.is_personal -}}
        pureref
        anki
        {{- end }}
    """
    snap = """
        code --classic
    """

[git]
    autoCommit = true
    autoPush = true
