{{- $is_for_work := promptBool "Is computer for work?" false -}}
{{- if (hasKey . "is_for_work") -}}
    {{- $is_for_work = .is_for_work -}}
{{- end -}}

[data.flags]
    is_for_work = {{ $is_for_work }}
    is_personal = {{ not $is_for_work }}

{{ $name := "Eduard Tsakhlo" -}}
{{- $username := $is_for_work | ternary "e.tsakhlo" "edvein-rin" -}}
{{- $email := $is_for_work | ternary "e.tsakhlo@smartweb.com.ua" "edveinrin@gmail.com" -}}

[data]
    name = {{ $name | quote }}
    username = {{ $username | quote }}
    email = {{ $email | quote }}

[data.gitconfig]
    name = {{ $is_for_work | ternary $name $username | quote }}
    email = {{ $email | quote }}

[git]
    autoCommit = true
    autoPush = true
