[Desktop Entry]
Type=Application
Exec=kdocker -d 30 -m /bin/sh /home/edveinrin/.spotify.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Spotify
Name=Spotify in KDocker
Comment[en_GB]=Run Spotify in Kdocker
Comment=Run Spotify in Kdocker
