#!/bin/sh

readonly packages=$(echo {{ .packages.arch | quote }} | sed 's/\\n//g')

sudo pacman -Syy --noconfirm
sudo pacman -Syu --noconfirm
sudo pacman -S ${packages[*]} --noconfirm --needed --verbose
