#!/bin/sh

readonly packages=$(echo {{ .packages.snap | quote }} | sed 's/\\n//g')

if [ ! "$(command -v snap)" ]; then
    yay -S snap
    sudo systemctl enable --now snapd.socket
    sudo ln -s /var/lib/snapd/snap /snap
fi

for package in "${packages[*]}"; do
    sudo snap install ${package}
done
