#!/bin/sh

readonly packages=$(echo {{ .packages.snap | quote }} | sed 's/\\n//g')

if [ ! "$(command -v snap)" ]; then
    echo "INFO Snap is not installed. Installing..."
    yay -S snap --noconfirm --needed --verbose
fi

sudo systemctl enable --now snapd.socket
sudo ln -s /var/lib/snapd/snap /snap

echo "INFO Installing snap packages"
for package in "${packages[*]}"; do
    sudo snap install ${package}
done
