#!/bin/sh

{{ if not .flags.is_dev -}}
    readonly packages=$(echo {{ .packages.aur | quote }} | sed 's/\\n//g')

    echo "INFO Installing yay packages"
    yay -Syy --noconfirm
    yay -Syu --noconfirm
    yay -S ${packages[*]} --noconfirm --needed --verbose
{{- else -}}
    echo "INFO DEV MODE Skipping installing yay packages"
{{- end -}}
