#!/bin/sh

{{ if not .flags.is_dev -}}
    readonly packages=$(echo {{ .packages.arch | quote }} | sed 's/\\n//g')

    echo "INFO Installing pacman packages"
    sudo pacman -Syy --noconfirm
    sudo pacman -Syu --noconfirm
    sudo pacman -S ${packages[*]} --noconfirm --needed --verbose
{{- else -}}
    echo "INFO DEV MODE Skipping installing arch packages"
{{- end -}}
